
*, *:after, *:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.domloaded *, .domloaded *:after, .domloaded *:before{transition: all .25s ease-in-out}

/*Narrow Site Columns - 910px*/

.col1{width: 30px}
.col2{width: 70px}
.col3{width: 110px}
.col4{width: 150px}
.col5{width: 190px}
.col6{width: 230px}
.col7{width: 270px}
.col8{width: 310px}
.col9{width: 350px}
.col10{width: 390px}
.col11{width: 430px}
.col12{width: 470px}
.col13{width: 510px}
.col14{width: 550px}
.col15{width: 590px}
.col16{width: 630px}
.col17{width: 670px}
.col18{width: 710px}
.col19{width: 750px}
.col20{width: 790px}
.col21{width: 830px}
.col22{width: 870px}
.col23{width: 910px}
.full{width: 100%}

html{-webkit-tap-highlight-color: #ffc725}

::-moz-selection{
    background: #ffc725;
    color: #000;
    text-shadow: none;
}

/* change colors */

::selection{
    background: #ffc725;
    color: #000;
    text-shadow: none;
}

/* change colors */

body{
    background: #fff;
    color: #444;
    font-family: 'PTSans_Regular', 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', sans-serif;
    font-weight: 400;
    line-height: 1.3125; /*1.61538462*/
    font-size: 16px;
}

body.home, body.pricing{background: url('../img/bg.png') repeat-x center top #fff}

[role=main], .container{
    width: 910px;
    position: relative;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

[role=main] > .container{padding-bottom: 63px}

.home .container, .pricing .container{
    margin-bottom: 0;
    padding-bottom: 0;
}

.container:before, section:before, .container:after, section:after{
    content: "";
    display: table;
}

section:after{clear: both}

section{zoom: 1}

section p a, .support h2 a, .support h3 a, footer a, .upper-menu a:hover, .entry-content a:hover{text-decoration: underline}

.log-in a:hover{text-decoration: none}

h1, h2, h3, h4{
    color: #434343;
    font-family: "PTSans_Narrow_Bold", sans-serif;
    font-weight: 700;
}

h1{
    font-size: 72px;
    text-shadow: 0 1px 1px rgba(255,255,255,.6);
    text-align: center;
    line-height: 1.166;
    padding: 63px 0;
    letter-spacing: -0.01em;
}

h2{
    font-size: 35px;
    letter-spacing: -0.01em;
    line-height: 1.2;
    margin-bottom: 21px;
}

h3{
    font-size: 21px;
    line-height: 2;
}

h4{
    font-size: 18px;
    line-height: 1.166;
}

h5{font-size: 16px}

h6{
    color: #434343;
    font-family: "Gotham";
    font-weight: 800;
    font-size: 11px;
    letter-spacing: .1em;
    text-transform: uppercase;
    line-height: 1.9090;
}

.highlight{
    border: 1px solid #b9c5d1;
    background-clip: padding-box;
    background-color: #f5f9fd;
    box-shadow: inset 0 1px 0 #fff;
    background-image: linear-gradient(-180deg, #f5f9fe 0%, #e9ecf1 100%);
}

[class^="button-"]{
    font-family: "PTSans_Bold", sans-serif;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .05em;
    display: inline-block;
    padding: 5px 14px 5px;
    line-height: 1;
    border-radius: 3px;
    background-clip: padding-box;
    text-decoration: none;
    color: #f5f8fd;
    text-shadow: 0 1px 2px rgba(0,0,0,.3);
    position: relative;
}

[class^="button-"]:active{top: 1px}

a[class^="button-"]{
    margin: 5px auto 10px;
    padding: 8px 14px 6px;
}

.button-yellow{
    border: 1px solid #cf9022;
    background-color: #f2be24;
    box-shadow: 0 1px 2px rgba(77,60,11,.3), inset 0 1px 0 #fff;
    background-image: linear-gradient(-180deg, #ffdb55 0%, #f2be24 100%);
    color: #434343;
    text-shadow: none;
}

.button-yellow:hover{box-shadow: 0 2px 4px rgba(77,60,11,.6), inset 0 1px 0 #fff}

.button-orange{
    border: 1px solid #b2621c;
    background-color: #cc7300;
    box-shadow: 0 1px 1px rgba(102,56,16,.3), inset 0 1px 0 #fff;
    background-image: linear-gradient(-180deg, #ffa300 0%, #cc7300 100%);
}

.button-orange:hover{box-shadow: 0 2px 4px rgba(102,56,16,.6), inset 0 1px 0 #fff}

.button-red{
    border: 1px solid #992210;
    background-color: #cc3922;
    box-shadow: 0 1px 1px rgba(77,17,8,.3), inset 0 1px 0 rgba(255,255,255,.25);
    background-image: linear-gradient(-180deg, #ff6f59 0%, #cc3922 100%);
}

.button-red:hover{box-shadow: 0 2px 4px rgba(77,17,8,.6), inset 0 1px 0 rgba(255,255,255,.25)}

.button-light-blue{
    border: 1px solid #144f7f;
    background-color: #2c76b2;
    box-shadow: 0 1px 2px rgba(11,47,77,.3), inset 0 1px 0 rgba(255,255,255,.25);
    background-image: linear-gradient(-180deg, #56b3ff 0%, #2c76b2 100%);
}

.button-light-blue:hover{box-shadow: 0 2px 4px rgba(11,47,77,.6), inset 0 1px 0 rgba(255,255,255,.25)}

.button-blue{
    border: 1px solid #1e3b66;
    background-color: #375e99;
    box-shadow: 0 1px 1px rgba(23,44,77,.3), inset 0 1px 0 rgba(255,255,255,.25);
    background-image: linear-gradient(-180deg, #5b88cc 0%, #375e99 100%);
}

.button-blue:hover{box-shadow: 0 2px 4px rgba(23,44,77,.6), inset 0 1px 0 rgba(255,255,255,.25)}

.button-green{
    border: 1px solid #1e6623;
    background-color: #318c37;
    box-shadow: 0 1px 2px rgba(27,89,31,.3), inset 0 1px 0 rgba(255,255,255,.25);
    background-image: linear-gradient(-180deg, #5bcc63 0%, #318c37 100%);
}

.button-green:hover{box-shadow: 0 2px 4px rgba(27,89,31,.6), inset 0 1px 0 rgba(255,255,255,.25)}

input[type=text], input[type=search], input[type=email], textarea{
    border: 1px solid #b9c5d1;
    border-radius: 3px;
    background-clip: padding-box;
    background-color: #fff;
    background-repeat: no-repeat;
    box-shadow: 0 2px 0 rgba(255,255,255,.3), inset 0 1px 4px rgba(0,0,0,.07);
    color: #434343;
    font-family: "PTSans_Narrow", sans-serif;
    font-size: 14px;
    /*	line-height: 1;*/
    padding: 3px 10px 3px;
}

fieldset input[type=text], fieldset input[type=search], fieldset input[type=email], textarea{width: 100%}

textarea{resize: vertical}

input[type=search]{
    background-image: url('../img/iconssearch.png');
    background-position: 9px center;
    padding-left: 30px;
}

input[type=text]:focus, input[type=search]:focus, input[type=email]:focus{
    box-shadow: 0 2px 0 rgba(255,255,255,.3), inset 0 1px 4px rgba(0,0,0,.2);
    outline: none;
}

.upper-menu{
    height: 42px;
    background: #111;
    color: #f1f1f1;
    font-family: "PTSans_Regular", sans-serif;
    font-size: 11px;
}

.upper-menu ul{
    float: right;
    padding: 10px 20px 0 0;
}

.upper-menu li{float: left}

.upper-menu li + li{margin-left: 10px}

.upper-menu a{
    padding: 4px 10px 3px;
    display: block;
}

.log-in a{
    color: #fff;
    font-family: "Gotham_Medium";
    text-transform: uppercase;
    font-size: 11px;
    padding: 3px 14px 4px;
    border-radius: 2px;
    background-clip: padding-box;
    background-color: #333;
    box-shadow: 0 1px 2px rgba(77,60,11,.2), inset 0 1px 0 rgba(255,255,255,.09);
    background-image: linear-gradient(-180deg, #333 0%, #292929 100%);
}

header{
    background-color: #292929;
    box-shadow: 0 2px 6px rgba(65,51,11,.4);
    height: 48px;
    display: table;
    width: 100%;
}

.logo{
    display: table;
    float: left;
    width: 250px;
    height: 100%;
    background: #ffc725;
    text-align: center;
}

.logo img{max-width: 190px}

.logo figure, nav{
    display: table-cell;
    vertical-align: middle;
}

nav, .packages figcaption{
    font-family: "Gotham_Medium";
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .1em;
}

nav{
    color: #f1f1f1;
    font-size: 11px;
    width: 760px;
    padding-left: 30px;
}

nav li{float: left}

nav li + li{margin-left: 10px}

nav a{padding: 21px 10px}

nav a:hover{
    border-radius: 4px;
    background: rgba(0, 0, 0, .1);
}

.sign-up{color: #ffc726}

em{
    font-style: normal;
    font-family: 'Gotham_Black';
    font-weight: 800;
    text-transform: uppercase;
}

.intro{
    height: 882px;
    padding-bottom: 63px;
}

.main-image{
    text-align: center;
    margin-bottom: 63px;
}

.media-left > figure{
    float: left;
    margin-right: 10px;
}

.media-right > figure{
    float: right;
    margin-left: 10px;
}

[class^="media-"] > figure ~ *{overflow: hidden}

.packages{padding: 163px 0}

.packages{
    text-align: center;
    font-size: 13px;
}

.packages li{
    width: 190px;
    float: left;
    overflow: hidden;
}

.packages li + li{
    width: 215px;
    border-left: 1px solid #d5dce4;
    margin-left: 25px;
    padding-left: 25px;
}

.packages figcaption{line-height: 42px}

.packages p{
    margin-bottom: 21px;
    line-height: 1.61538462;
}

.packages h3 span{
    font-weight: 400;
    font-size: 13px;
    margin-right: 10px;
}

.features li{
    float: left;
    margin-bottom: 63px;
    margin-right: 50px;
}

.features li:nth-of-type(3n+3){margin-right: 0}

.newsletter{
    border-width: 1px 0;
    margin-bottom: 63px;
}

.newsletter .container{padding: 42px 70px 53px 0}

.newsletter figure{margin-left: 150px}

.newsletter p{
    white-space: pre-line;
    margin-bottom: 21px;
}

.newsletter input[type=email]{
    height: 50px;
    padding-left: 40px;
    background-image: url('../img/iconsmail.png');
    background-position: 12px center;
}

.newsletter input[type=submit]{
    width: 44px;
    height: 44px;
    border: none;
    background: url('../img/iconsenter.png') center center no-repeat;
    margin-left: -50px;
}

.details{padding-bottom: 63px}

.details [class^="media-"] + [class^="media-"], .intro + .details, .intro + .features{margin-top: 63px}

.details .media-left, .details .media-right{
    clear: both;
    overflow: hidden;
}

.details .media-left{padding-left: 70px}

.details .media-right{padding-right: 70px}

.details .media-left figure{margin-right: 110px}

.details .media-right figure{margin-left: 110px}

.clients{margin-bottom: 63px}

.clients ul{
    height: 105px;
    background: #fff;
    border: 1px solid #d5dbe3;
    border-width: 1px 0;
    display: table;
    text-align: center;
    width: 910px;
    margin: 0 auto;
}

.clients li{
    display: table-cell;
    vertical-align: middle;
}

/*pricing*/

[class^="price-table-"]{
    text-align: center;
    width: 100%;
    font-size: 11px;
    line-height: 21px;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(141,149,158,.4), inset 0 1px 0 #fff;
    position: relative;
    height: 609px;
}

[class^="price-table-"] > li{
    float: left;
    position: relative;
    height: 100%;
}

.price-table-1 > li{width: 100%}

.price-table-2 > li{width: 50%}

.price-table-3 > li{width: 33.3333%}

.price-table-4 > li{width: 25%}

.price-table-5 > li{width: 20%}

.price-table-6 > li{width: 16.666%}

[class^="price-table-"] > li + li{border-left: 1px solid #b9c5d1}

.price-header, .specs{padding: 20px 0}

.price-header p{
    font-family: "Gotham_Medium";
    font-weight: 400;
}

.price-header span{
    color: #777;
    font-family: "PTSans_Regular", sans-serif;
    font-size: 11px;
}

.specs{border-width: 1px 0}

.includes{
    border-bottom: 1px solid #b9c5d1;
    line-height: 18px;
    padding: 21px 0 29px;
}

[class^="price-table-"] h2{margin-bottom: 0}

.pricing-details{padding: 21px 0}

.pricing-details p{
    white-space: pre-line;
    font-size: 16px;
    margin-bottom: 14px;
}

.popular-plan{
    position: relative;
    z-index: 1;
}

.popular-plan:before{
    content: "Popular";
    display: block;
    font-family: "Gotham_Medium";
    font-size: 8px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .1em;
    color: #fff;
    position: absolute;
    top: -1px;
    right: 10px;
    z-index: 99999;
    padding: 0 9px;
    border: 1px solid #1e6623;
    border-radius: 0 0 3px 3px;
    background-clip: padding-box;
    background-color: #318c37;
    box-shadow: 0 1px 2px rgba(27,89,31,.6), inset 0 1px 0 rgba(255,255,255,.25);
    background-image: linear-gradient(-180deg, #5bcc63 0%, #318c37 100%);
}

.dash.media-left{
    padding-left: 40px;
    margin-bottom: 0;
}

.dash.media-left figure{margin-right: 80px}

.dash.media-right{padding-right: 40px}

.dash.media-right figure{margin-left: 80px}

/*support*/

aside, [class^="content-"]{
    display: table-cell;
    vertical-align: top;
    padding-bottom: 63px;
}

aside{
    width: 240px;
    max-width: 240px;
    font-size: 13px;
    line-height: 1.6153;
}

aside > ul{margin-bottom: 21px}

aside > ul > li:before, .dash-list li:before{
    content: "—";
    margin-right: 10px;
}

.content-right{
    border-left: 1px solid #d5dce4;
    padding-left: 29px;
}

.content-left{
    border-right: 1px solid #d5dce4;
    padding-right: 29px;
}

.content-left + aside{padding-left: 30px}

.content{
    width: 640px;
    position: relative;
    margin-bottom: 63px;
    margin: 0 auto;
}

.content-left, .content-right{
    width: 670px;
    max-width: 670px;
}

input[type=search]{
    width: 520px;
    margin-right: 10px;
}

aside input[type=search]{width: 120px}

.support-search, .blog-search{margin-bottom: 36px}

.faqs{margin-bottom: 42px}

.faqs li + li{margin-top: 21px}

.forum-links li{
    border-bottom: 1px solid #d5dce4;
    padding-bottom: 11px;
    margin-bottom: 9px;
}

/*blog*/

.ad{
    font-size: 11px;
    width: 170px;
    margin-bottom: 21px;
}

.ad figcaption{text-align: center}

.post{
    border-bottom: 1px solid #d5dce4;
    padding-bottom: 41px;
}

.post + .post{margin-top: 42px}

.post h2{margin-bottom: 0}

.post h2 a:hover, .entry-content p a:hover{color: #f2be24}

.post figure{margin-bottom: 21px}

.post figcaption{
    text-align: center;
    color: #777;
    font-family: "PTSans_Italic", sans-serif;
    font-size: 11px;
    font-style: italic;
    padding: 5px 0 2px;
}

[class^="post-meta-"]{
    clear: both;
    color: #777;
    font-family: "PTSans_Narrow", sans-serif;
    font-size: 13px;
    line-height: 21px;
    overflow: hidden;
}

.post-meta-header{
    margin-bottom: 21px;
    text-transform: uppercase;
}

.post-meta-footer{margin-top: 21px}

.post-date, .post-comments{float: right}

.page-navigation{
    text-align: center;
    width: 100%;
    margin-bottom: 63px;
    clear: both;
}

.page-navigation li{
    display: inline;
    float: none;
}

.page-navigation a{
    display: inline-block;
    color: #fff;
    font-family: "Gotham_Medium";
    text-transform: uppercase;
    font-size: 13px;
    padding: 6px 10px;
    min-width: 29px;
    border-radius: 2px;
    background-clip: padding-box;
    background-color: #333;
    box-shadow: 0 1px 2px rgba(77,60,11,.4), inset 0 1px 0 rgba(255,255,255,.09);
    background-image: linear-gradient(-180deg, #333 0%, #292929 100%);
}

/*post*/

.comments{padding-top: 41px}

.comments article{
    clear: both;
    overflow: hidden;
    border-bottom: 1px solid #d5dce4;
    padding-bottom: 21px;
}

.comments article + article{margin-top: 20px}

.reply{margin-left: 40px}

.reply + .reply{
    margin-left: 80px;
    margin-bottom: 41px;
}

.comments [class^="button-"]{margin-top: 6px}

.post-a-comment{margin-top: 41px}

fieldset, textarea{margin-bottom: 21px}

label{
    display: block;
    clear: both;
    color: #777;
    font-family: "PTSans_Narrow_Bold", sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

.post-a-comment [class^="button-"]{margin-bottom: 10px}

.sidebar-centered{
    display: table;
    width: 640px;
    max-width: 640px;
    margin: 0 auto;
}

.sidebar-centered > *{display: table-cell}

.sidebar-centered .blog-search{width: 40%}

.sidebar-centered > ul{width: 20%}

.sidebar-centered > ul + ul{padding-left: 30px}

.sidebar-centered .ad{margin-top: 21px}

/*fullwidth*/

.fullwidth .container h1{
    padding: 21px 0;
    text-align: left;
}

.fullwidth .container > div{margin-bottom: 42px}

.fullwidth .buttons a{margin-right: 30px}

.columns > div{margin-bottom: 21px}

.columns p[class^="col"]{float: left}

.columns p + p{margin-left: 40px}

.lists{
    font-size: 13px;
    line-height: 1.6153;
}

.lists > div + div{margin-left: 30px}

footer{
    color: #fff;
    background: #292929;
    padding-top: 42px;
    font-size: 13px;
    line-height: 21px;
    clear: both;
}

footer h4{
    color: #fff;
    margin-bottom: 21px;
}

footer .col7{
    float: left;
    padding-bottom: 42px;
}

footer .col7 + .col7{margin-left: 50px}

.footer-address{white-space: pre-line}

.footer-social{margin: 13px 0 0 -5px}

.footer-social li{
    float: left;
    width: 24px;
}

.recent-posts article + article, .tweets article + article, .footer-about p + p{margin-top: 21px}

.tweets{
    font-size: 11px;
    background: url('../img/iconstwitter.png') right top no-repeat;
}

.recent-posts{background: url('../img/iconsrss.png') right top no-repeat}

.username{font-weight: 700}

.article-meta, .tweet-meta{
    font-style: italic;
    font-size: 11px;
}

footer .full{
    background: #000;
    font-size: 11px;
    height: 42px;
    clear: both;
    line-height: 42px;
}

footer .full li{
    float: left;
    margin-left: 10px;
}

@media print{*{background:transparent !important;color:black !important;box-shadow:none !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important;}a,a:visited{text-decoration:underline;}a[href]:after{content:" (" attr(href) ")";}abbr[title]:after{content:" (" attr(title) ")";}.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:"";}pre,blockquote{border:1px solid #999;page-break-inside:avoid;}thead{display:table-header-group;}tr,img{page-break-inside:avoid;}img{max-width:100% !important;}@page{margin:0.5cm;}p,h2,h3{orphans:3;widows:3;}h2,h3{page-break-after:avoid;}}